*{
    box-sizing: border-box;
}

@font-face {
    font-family: 'neww';
    src: url('eph.ttf');
}


#bg-header {
    display: flex;
    height: 10vh;
    width:100vw ;
    background-color: rgb(112, 5, 5);
    border:1px white solid ;
    margin-left:-8px ;
    margin-top: -9px ;
    position:fixed ;
}

#bg-1 {
    flex:1 ;
    text-align: center;
    color:white ;
    line-height:10vh;
    border-right:1px wheat solid ;
    font-family: neww;
    font-size: calc(16px + 0.02 * 100vw);
    font-weight: bold;

}
#bg-1:hover , #bg-2:hover , #bg-3:hover{
    background-color: rgb(164, 59, 59);
    color:black ;
}

body {
    height:90vh ;
    background-image:url(sdd-1.png);
    background-repeat:no-repeat;
    background-size: 100% 100% ;
    background-attachment: fixed;

}
#mn {
    
    display:none ;
    flex-direction: column;
    height:100vh  ;
    width:100vw ;
    border:1px solid white ;
    
   

}
#bg-main1 {
    flex:1 ;
    background:linear-gradient(90deg ,orangered , orange);
    margin-left:-8px ;
    display: none;
    

}

#content1 {
    position :relative ;
    background-color: aliceblue;
    height: 70vh;
    width:65vw ;
    top:20vh ;
    left:18vw ;
    display: flex;
    flex-direction: column;
    
}

#expressions {
    height:60vh ;
    background-color: black;
    border:1px solid white ;
    font-family: neww;
    color:aliceblue ;
    text-align: center;
    line-height:30vh ;
    font-size: calc(20px + 0.05 * 100vw);
    font-weight: bold;
}
#cd-bn {
    line-height:10vh ;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    font-size: calc(16px + 0.01 * 100vw );
    
}


#bg-main2 , #bg-main3 {
    flex:1 ;
    background:linear-gradient(90deg ,orangered , orange);
    margin-left:-8px ;
    display: none;

}
#bg-main1 {
    display: flex;
}

#bg-main2 {
    display:none ;

}


@media (min-width:700px){
    body
    {height:90vh ;
    background-image:url(sd21.png);
    background-repeat:no-repeat;
    background-size: 100% 100% ;
    background-attachment: fixed;
    }
}








 .sandwich {
    
    position:relative; 
    top:14vh;
    height:280px;
    width:80vw ;
    margin:auto;
    border: 1px solid black ;
    max-width: 300px;
    background-color: aliceblue ;
    box-shadow:2px 2px 20px 2px black ;
    padding:48px ;
    transition: all 0.3s ease-in-out;
}

.sandwich:hover {
    transform: scale(1.3);
}



.bread1 {
    height:88px ;
    background: linear-gradient(90deg,rgb(241, 158, 4),rgb(254, 166, 2));
    border: 1px solid black;
    border-top-right-radius: 130px;
    border-top-left-radius: 130px;
    
}


.cheese {
    height:4px ;
    background:linear-gradient(90deg,rgb(237, 206, 4),rgb(250, 250, 6));
    width:98% ;
    margin: auto;
    border: 1px solid gray;


}
.filling1{
    
    background-color:#FFB6C1;  /*Pork*/
    height:18px ;
    width:96% ;
    border-radius: 20px;
    margin: auto;
 
}

.filling2 {
    background-color: #CD5C5C;  /*Sopressata */
    height:18px ;
    width:96% ;
    border-radius: 20px;
    margin: auto;
    display: none;
}

.filling3 {
    background-color: #8B4513;  /* Beef*/
    height:18px ;
    width:96% ;
    border-radius: 20px;
    margin: auto;
    display: none;
}

.ognion{
    height: 4px;
    width:100% ;
    background:repeating-linear-gradient(90deg, white 0% , white 2%, purple 2%,rgb(181, 58, 181) 49.5%) ;
}
.tomato {
    height:4px ;
    width: 77% ;
    background:linear-gradient(90deg ,rgb(161, 5, 5), rgb(200,0,0));
    margin: auto;
}

.spinash{

    height:4px ;
    background: linear-gradient(90deg,rgb(71, 198, 71),rgb(15, 195, 15));
    width:100% ;
    margin: auto;
    border: 1px solid gray;
    border-radius: 30px ;
}


.bread2 {
    height:38px ;
    background: linear-gradient(90deg,rgb(241, 158, 4),rgb(254, 166, 2));
    border: 1px solid black;
    transform: rotate(180deg);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}  

.spinash , .filling1 , .tomato , .ognion, .cheese{
    opacity: 50%;
}





.bar {
    position: relative;
    height: 100px;
    width:90vw ;
    background:linear-gradient(90deg ,gray , white);
    margin:auto ;
    top:26vh  ;
    border: 1px solid black ;
    border-radius: 5px;
}

#choose_meat , #choose_spinash ,#choose_tomato ,#choose_ognion ,#choose_cheese{
    display: flex;
    flex-direction: row;
}

#choose_spinash ,#choose_tomato ,#choose_ognion ,#choose_cheese , #command  {
    display: none;
}




#txt1, #fl1 , #fl2 ,#fl3 {
    flex:1 ;
}

#txt1 , #fl1 ,#fl2 ,#fl3 {
    line-height: 100px;
    font-size: calc(16px + 0.01 * 100vw);
    font-family: neww;
    border-right: 1px solid black;
    font-weight: bold;
    text-align: center;
}
#fl1 , #fl2 , #fl3 {
    cursor:pointer ;
}

#fl1:hover , #fl2:hover , #fl3:hover {
    background-color: gray;
}



#txt2 {
    flex:2 ;
}
#y , #n ,#y1 , #n1 , #y2 , #n2 ,#y3,#n3 {
    flex:1 ;
    cursor: pointer;
}

#txt2 , #y , #n ,#y1 , #n1 , #y2 , #n2 ,#y3,#n3 {
    line-height: 100px;
    font-size: calc(16px + 0.01 * 100vw);
    font-family: neww;
    border-right: 1px solid black;
    font-weight: bold;
    text-align: center;

}



#y:hover ,#y1:hover ,#y2:hover , #y3:hover {
    background-color: green;
    color: white;
}

#n:hover , #n1:hover , #n2:hover , #n3:hover{
    background-color: red;
    color: white;
}

#command {
    flex:1; 
    font-weight: bold;
    font-family: neww;
    line-height: 90px;
    font-size: 40px;
    color:black  ;
    flex-direction: row;
    justify-content: center;
    animation-name: color_effect;
    animation-duration: 1s;
    animation-iteration-count: infinite;

}

@keyframes color_effect {
    0% {
        color:black ;
    }

    25% {
        color:rgb(62, 61, 61);
    }

    75%{
        color:gray ;
    }
    100%{
        color:black ;
    }
}


/* for responsivness */

@media (max-width:400px){
    #txt1 ,#fl1 , #fl2 ,#fl3 , #txt2 , #y , #n , #y1 ,#n1 ,#y2 , #n2 ,#y3 , #n3 , #command , #expressions {
        font-size: 10px;
    }
}




